* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: hsl(233, 11%, 84%);
}

/* BACKGROUND IMAGE STYLE*/

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    background: url("./images/bg-mobile-light.jpg") no-repeat center / cover;
    z-index: -1;
}

/* MAIN SECTION STYLES */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 330px;
    height: 80vh;
    max-height: 800px;
    gap: 2rem;
    margin: auto;
}

/* HEADER STYLES */

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.todo-header {
    letter-spacing: 1rem;
    font-weight: 700;
    color: white;
}

.theme-toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

/* GLOBAL CHECKBOX STYLE */
.todo-toggle {
    appearance: none;
    position: relative;
    width: 25px;
    height: 25px;
    border: 1px solid hsl(0, 0%, 77%);
    border-radius: 50%;
    cursor: pointer;
    background-color: hsl(0, 0%, 98%);

}

.todo-toggle:checked {
    background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)),
    url('images/icon-check.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: cover, 50%;
}

.todo-toggle:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9px;
    height: 9px;
    background: url('images/icon-check.svg') center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
}

/* CREATE NEW TODO STYLEs */

.create-todo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2rem;
    gap: 1rem;
    width: 100%;
    height: 3.5rem;
    background-color: hsl(0, 0%, 98%);
    border-radius: 5px;
}

.new-item {
    background: none;
    border: none; 
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    cursor: text;
}

.new-item:focus {
    outline: none;
}

/* MAIN TODO SECTION STYLES */

.main-todo-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    background-color: hsl(0, 0%, 98%);
    list-style: none;
}


/* LIST ITEM STYLES */
.list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    padding-left: 2rem;
}

.todo-text {
    color: hsl(235, 19%, 35%);
    font-family: 'Josefin Sans', sans-serif;
}

.close-button {
    margin-left: auto;
    appearance: none;
    border: none;
    width: 1rem;
    height: 1rem;
    background: url("./images/icon-cross.svg") center / cover;
    background-color: transparent;
    cursor: pointer;
}

/* FOOTER STYLE */
.list-footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 14px;
    color: hsl(236, 9%, 61%);
}


.clear-button {
    appearance: none;
    border: none;
    background: transparent;
    font-family: 'Josefin Sans', sans-serif;
    color: hsl(236, 9%, 61%);
    cursor: pointer;
}

/* LIST CONTROLS STYLES */

.list-controls {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    gap: 0.75rem;
    border-radius: 5px;
    background-color: white;
}

.list-controls button {
    appearance: none;
    border: none;
    color: hsl(236, 9%, 61%);
    font-family: 'Josefin Sans', sans-serif;
    background: transparent;
    cursor: pointer;
}

.list-controls button:active {
    color: hsl(220, 98%, 61%);
}

/* BOTTOM TEXT  */

.bottom-text {
    color: hsl(236, 9%, 61%);
    font-size: 14px;
    font-weight: 400;
}