* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Josefin Sans', sans-serif;
    background-color: hsl(233, 11%, 84%);
}

/* HEADER BACKGROUND STYLE */

header {
    position: absolute;
    z-index: -1;
    height: 30vh;
    width: 100%;
    background-image: url('images/bg-mobile-light.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

/* MAIN SECTION STYLES */

main {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 400px;
    height: 80vh;
    max-height: 800px;
    gap: 2rem;
    margin: auto;
}

/* HEADER STYLES */

.header {
    display: flex;
    justify-content: space-between;
}

.todo-header {
    letter-spacing: 1rem;
    font-weight: 700;
    color: white;
}

.theme-toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

/* GLOBAL CHECKBOX STYLE */
.todo-toggle {
    appearance: none;
    position: relative;
    width: 25px;
    height: 25px;
    border: 1px solid hsl(0, 0%, 77%);
    border-radius: 50%;
    cursor: pointer;
    background-color: hsl(0, 0%, 98%);

}

.todo-toggle:checked {
    background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)),
    url('images/icon-check.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: cover, 50%;
}

.todo-toggle:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9px;
    height: 9px;
    background: url('images/icon-check.svg') center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
}

/* CREATE NEW TODO STYLEs */

.create-todo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2rem;
    gap: 1rem;
    width: 100%;
    height: 3.5rem;
    background-color: hsl(0, 0%, 98%);
    border-radius: 5px;
}

.new-item {
    background: none;
    border: none; 
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    cursor: text;
}

#new-item:focus {
    outline: none;
}

/* TODO LIST STYLES */

#todo-list {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    border-radius: 5px;
    background-color: hsl(0, 0%, 98%);
    list-style: none;
}

